.successWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.buttonWrapper {
  width: 60%;
}
