* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.App {
  padding: 1rem;
  min-height: 100vh;
  background-color: rgb(130, 124, 124);
}

.postsListWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
